* {
    /* 清除盒子间距 */
    padding: 0;
    margin: 0;
    /* 盒子大小为width 保证不会撑大盒子 */
    box-sizing: border-box;
}
body {
    background-color: #ccc;
}


.box1 {
    position: relative;
    width: 640px;
    height: 760px;
    margin: 10px auto;
    background-color: #fefefe;
}
.box2 {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 600px;
    height: 728px;
    border: 20px solid #000;
}
.box_left {
    float: left;
    width: 140px;
    height: 688px;
    border-right: 20px solid #000;
}
.box_tp {
    width: 140px;
    height:156px;
    border-bottom: 32px solid #000;
}
.box_mi {
    width: 140px;
    height: 354px;
    border-bottom: 20px solid #000;
}
.box_bt {
    width: 120px;
    height: 178px;
    background-color: #0801b3;
    color: white;
    a, a:visited, a:hover, a:active {
      color: white;  /* 设定链接颜色为黑色 */
      text-decoration: none;  /* 去除下划线 */
    }    
}
.box_right {
    float: right;
    width: 420px;
    height: 688px;
}
.box_hd {
    width: 420px;
    height: 510px;
    border-bottom: 20px solid #000;
    background-color: #fe0003;
    color: white;
    a, a:visited, a:hover, a:active {
      color: white;  /* 设定链接颜色为黑色 */
      text-decoration: none;  /* 去除下划线 */
    }
}
.box_bd {
    width: 420px;
    height: 178px;
}
.box_bd_left {
    float: left;
    width: 342px;
    height: 178px;
    border-right: 20px solid #000;
}
.box_bd_right {
    float: left;
    width: 78px;
    height: 178px;
}
.bd_right_tp {
    width: 78px;
    height: 90px;
    border-bottom: 20px solid #000;
}
.bd_right_bt {
    width: 78px;
    height: 88px;
    background-color: #fffe03;
    color: white;
    a, a:visited, a:hover, a:active {
      color: black;  /* 设定链接颜色为黑色 */
      text-decoration: none;  /* 去除下划线 */
    }
}

